.list {
    list-style-type: none;
    
}
.list-group-item {
    list-style-type: none;
    text-align: initial;
    background-color: inherit;
    :hover {
        background-color: #343a40
    }
    
}

